# Ignore Maven target folders (compilés)
target/

# Ignore Gradle build folders
build/

# Ne pas ignorer le wrapper Maven, utile pour distribuer le wrapper Maven avec le projet
!.mvn/wrapper/maven-wrapper.jar

# STS (Spring Tool Suite)
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# Logs et fichiers temporaires
*.log
*.tmp
*.temp
*.swp
.DS_Store

# Autres fichiers générés ou temporaires
out/
*.class
